@model CheeseMVC.ViewModels.ViewMenuViewModel

<h1>@Model.Menu.Name</h1>
<p><a asp-controller="Menu" asp-action="AddItem" asp-route-ID="@Model.Menu.ID">Add Item</a></p>

@if (Model.Items.Count == 0)
{
    <p>No Items yet!</p>
}

<ul>
    @foreach (CheeseMenu item in Model.Items)
    {
        <li>@item.Cheese.Name</li>
    }
</ul>
