@{
   
}


<h1> Add Cheese </h1>
<form method="post">
    <label>Add Cheese:</label>
    <input name="name" type="text"/>
    <br/>
    <label>Add Description: </label>
    <input name="description" type="text"/>
    <br/>
    <input type="submit" value="Add Cheese"/>
</form>
